logs
*.log
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
build/Release
node_modules/
jspm_packages/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.vscode
script.sh
client/src/vendor
composer.lock
**/public/upload/*
!**/public/upload/.gitkeep